.tiptap-preview {
  overflow: hidden;

  width: 100%;
  height: 100%;

  p {
    font-size: 7px;
  }

  font-family: 'Roboto';

  ul[data-type='taskList'] {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;

    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0.5px 0;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 9px;

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 9px;
          height: 9px;
          margin-right: 3.5px;
          margin-top: 1.5px;

          background-color: #fff;
          border: 1px solid #ced4da;
          border-radius: 2px;

          position: relative;
        }

        input:checked {
          background-color: #339af0;
          border-color: #339af0;
        }

        input:checked::after {
          content: '';
          position: absolute;
          top: 0.5px;
          left: 2px;
          width: 3px;
          height: 5px;
          border: solid #fff;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }

        input:hover {
          border-color: #339af0;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: pretty;

    &:first-child {
      font-size: 0.77rem;
      line-height: 0.95rem;
    }
  }

  h1 {
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  h3 {
    font-size: 0.67rem;
    margin-top: 3px;
    margin-bottom: 2px;
  }

  code {
    background: linear-gradient(to right, #e0fffa, #e0fffa);
    border-radius: 4px;
    color: black;
    font-size: 7px;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.28em 0.4em;
  }

  pre {
    display: none;
  }
}

.hljs-comment,
.hljs-quote {
  color: #6a737d; /* Gray for comments and quotes */
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #d73a49; /* Soft red for variables, attributes, tags, etc. */
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #005cc5; /* Light blue for numbers, literals, and types */
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #032f62; /* Dark blue for strings and symbols */
}

.hljs-title,
.hljs-section {
  color: #6f42c1; /* Purple for titles and sections */
}

.hljs-keyword,
.hljs-selector-tag {
  color: #d73a49; /* Soft red for keywords and selector tags */
}

.hljs-emphasis {
  font-style: italic; /* Italicize for emphasis */
}

.hljs-strong {
  font-weight: 700; /* Bold for strong emphasis */
}

.ProseMirror-focused {
  border: none;
  outline: none;
}

.ProseMirror {
  width: 90vw;
}

@media (min-width: 600px) {
  .ProseMirror {
    width: 80vw;
  }
}

@media (min-width: 992px) {
  .ProseMirror {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .ProseMirror {
    width: 60vw;
  }
}
